In [2]:
import re
import pandas as pd

In [ ]:
#Question 01:Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
#Sample Text- 'Python Exercises, PHP exercises.'
#Expected Output: Python:Exercises::PHP:exercises:

In [39]:
text='Python Exercises, PHP exercises.'
pattern=r'[ ,.]'
result=re.sub(pattern,':',text)
print(result)

Python:Exercises::PHP:exercises:

In [ ]:
#Question 02:Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
#Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
#Expected output-
#0      hello world
#1             test
#2    four five six

In [82]:

A={'SUMMARY':['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(A)
df['SUMMARY'] = df['SUMMARY'].apply(lambda i: re.sub(r'[^a-zA-Z\s]', '',i))
df['SUMMARY']=df['SUMMARY'].replace('XXXXX test','test')
print(df)

         SUMMARY
0    hello world
1           test
2  four five six

In [ ]:
#Question 03:Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [90]:
pattern=re.compile(r'\b\w{4,}\b')
text='I WILL GIVE MY BEST FOR SURE' 
result=pattern.findall(text)
print(result)

['WILL', 'GIVE', 'BEST', 'SURE']

In [ ]:
#Question 04:Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [93]:
pattern=re.compile(r'\b\w{3,5}\b')
text='MY AIM IS TO GIVE BEST LIFE TO MY FAMILY AND MAKE THEM PROUD' 
result=pattern.findall(text)
print(result)

['AIM', 'GIVE', 'BEST', 'LIFE', 'AND', 'MAKE', 'THEM', 'PROUD']

In [ ]:
#Question 05:Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
#Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
#Expected Output:
#example.com
#hr@fliprobo.com
#github.com
#Hello Data Science World , Data Scientist

In [104]:
pattern=re.compile(r'[()]')
text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result=[pattern.sub('',i) for i in text]
print(result)

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

In [ ]:
#Question 06:Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
#Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
#Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]
#Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [106]:
text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
with open('text.txt','w') as sampletext:
    sampletext.write('\n'.join(text))

with open('text.txt','r') as sampletext:
    A=sampletext.readlines()
pattern=re.compile(r'\s*\(.*?\)')
result=[pattern.sub('',a).strip() for a in A]
print(result)

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

In [ ]:
#Question 07:Write a regular expression in Python to split a string into uppercase letters.
#Sample text: “ImportanceOfRegularExpressionsInPython”
#Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [108]:
pattern=r'[A-Z][a-z]*'
text='ImportanceOfRegularExpressionsInPython'
result=re.findall(pattern,text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [ ]:
#Question 08:Create a function in python to insert spaces between words starting with numbers.
#Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
#Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [121]:
pattern=r'([a-zA-Z])([0-9])'
text='RegularExpression1IsAn2ImportantTopic3InPython'
result=re.sub(pattern,r'\1 \2',text)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [123]:
#Question 09:Create a function in python to insert spaces between words starting with capital letters or with numbers.
#Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
#Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [124]:
pattern=r'([a-zA-Z])([0-9])([a-zA-Z])'
text='RegularExpression1IsAn2ImportantTopic3InPython'
result=re.sub(pattern,r'\1 \2 \3',text)
print(result)

RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [ ]:
#Question 10:Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
#Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [132]:
A=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
A.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [135]:
df=pd.DataFrame()

In [143]:
df['first_five_letters']=A['Country'].str.extract(r'(^.{6})')
df

    first_five_letters
0               Switze
1               Icelan
2               Denmar
3               Norway
4               Canada
..                 ...
153             Rwanda
154                NaN
155                NaN
156             Burund
157                NaN

[158 rows x 1 columns]

In [ ]:
#Question 11- Write a Python program to match a string that contains only upper and lowercase letters, 
#numbers, and underscores.

In [149]:
pattern=r'[a-zA-Z0-9_]+'
text='Hi_im'
result=re.match(pattern,text)
print(result)

<re.Match object; span=(0, 5), match='Hi_im'>

In [ ]:
#Question 12- Write a Python program where a string will start with a specific number.

In [153]:
pattern=r'^[5][a-zA-Z]+'
text='5Hello'
result=re.match(pattern,text)
print(result)

<re.Match object; span=(0, 6), match='5Hello'>

In [ ]:
#Question 13- Write a Python program to remove leading zeros from an IP address

In [157]:
pattern=r'\b0+(\d)'
text='192.168.001.001'
result=re.sub(pattern,r'\1',text)
print(result)

192.168.1.1

In [ ]:
#Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
#Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.
#Expected Output- August 15th 1947
#Note- Store given sample text in the text file and then extract the date string asked format.

In [174]:
pattern=r'\b(?:January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:th|st|nd|rd)?\s+\d{4}\b'
sample=' On August 15th 1947 that India was declared independent from British colonialism,and the reins of control were handed over to the leaders of the Country'
with open('sample.txt','w') as file:
    file.write(sample)
with open('sample.txt','r') as file:
    text=file.read()
result=re.findall(pattern,text)
print(result)

['August 15th 1947']

In [ ]:
#Question 15- Write a Python program to search some literals strings in a string. 
#Sample text : 'The quick brown fox jumps over the lazy dog.'
#Searched words : 'fox', 'dog', 'horse'

In [187]:
A=['fox','dog','horse']
text='The quick brown fox jumps over the lazy dog.'
result=[i for i in A if re.search(r'\b' + re.escape(i) + r'\b',text)]
print(result)

['fox', 'dog']

In [ ]:
#Question 16:Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
#Sample text : 'The quick brown fox jumps over the lazy dog.'
#Searched words : 'fox'

In [193]:
A='fox'
text='The quick brown fox jumps over the lazy dog.'
result=re.search(re.escape(A),text)
print(result)
result.start()

<re.Match object; span=(16, 19), match='fox'>

16

In [ ]:
#Question 17- Write a Python program to find the substrings within a string.
#Sample text : 'Python exercises, PHP exercises, C# exercises'
#Pattern : 'exercises'

In [3]:
pattern='exercises'
text='Python exercises, PHP exercises, C# exercises'
result=re.findall(pattern,text)
print(result)

['exercises', 'exercises', 'exercises']

In [ ]:
#Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [14]:
pattern='exercises'
text='Python exercises, PHP exercises, C# exercises'
result=re.finditer(pattern,text)
A=[(a.start(),a.end()) for a in result]
print(A)

[(7, 16), (22, 31), (36, 45)]

In [ ]:
#Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format

In [17]:
pattern=r'(\d{4})-(\d{2})-(\d{2})'
text='2000-05-27'
result=re.sub(pattern,r'\3-\2-\1',text)
print(result)

27-05-2000

In [ ]:
#Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
#Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
#Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [18]:
pattern=re.compile(r'\b\d+\.\d{1,2}\b|\b\d+\.\d\b')
text='01.12 0132.123 2.31875 145.8 3.01 27.25 0.25'
result=pattern.findall(text)
print(result)

['01.12', '145.8', '3.01', '27.25', '0.25']

In [ ]:
#Question 21:Write a Python program to separate and print the numbers and their position of a given string.

In [22]:
pattern=re.compile(r'\d+')
text='Hi my name is smit 275 123'
result=[(i.group(),i.start())for i in pattern.finditer(text)]
print(result)

[('275', 19), ('123', 23)]

In [ ]:
#Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
#Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
#Expected Output: 950

In [25]:
pattern=r'\b\d+\b'
text='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
result=max((i) for i in re.findall(pattern,text))
print(result)

950

In [ ]:
#Question 23- Create a function in python to insert spaces between words starting with capital letters.
#Sample Text: “RegularExpressionIsAnImportantTopicInPython"
#Expected Output: Regular Expression Is An Important Topic In Python

In [28]:
pattern=r'([a-z])([A-Z])'
text='RegularExpressionIsAnImportantTopicInPython'
result=re.sub(pattern,r'\1 \2',text)
print(result)

Regular Expression Is An Important Topic In Python

In [ ]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [33]:
pattern=r'\b[A-Z][a-z]+\b'
text='Hello hellO Hey'
result=re.findall(pattern,text)
print(result)

['Hello', 'Hey']

In [ ]:
#Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
#Sample Text: "Hello hello world world"
#Expected Output: Hello hello world

In [39]:
pattern=r'\b(\w+)( \1\b)+'
text='Hello hello world world'
result=re.sub(pattern,r'\1',text)
print(result)

Hello hello world

In [ ]:
#Question 26:Write a python program using RegEx to accept string ending with alphanumeric character.

In [45]:
pattern=r'[a-zA-Z0-9]$'
text='hello1'
result=re.search(pattern,text)
print(result)

<re.Match object; span=(5, 6), match='1'>

In [ ]:
#Question 27-Write a python program using RegEx to extract the hashtags.
#Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
#Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [49]:
pattern=r'#\w+'
text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
result=re.findall(pattern,text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [ ]:
#Question 28- Write a python program using RegEx to remove <U+..> like symbols
#Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
#Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
#Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [56]:
pattern=r'<U\+[A-Z0-9]+>'
text='@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders'
result=re.sub(pattern,'',text)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [ ]:
#Question 29- Write a python program to extract dates from the text stored in the text file.
#Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
#Note- Store this sample text in the file and then extract dates.

In [59]:
pattern=r'\b\d{2}-\d{2}-\d{4}\b'
text='Ron was born on 12-09-1992 and he was admitted to school 15-12-1999'
with open('text.txt','w') as file:
    file.write(text)
with open('text.txt','r') as file:
    files=file.read()
result=re.findall(pattern,files)
print(result)

['12-09-1992', '15-12-1999']

In [ ]:
#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
#The use of the re.compile() method is mandatory.
#Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
#Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [62]:
pattern=re.compile(r'\b\w{2,4}\b')
text="the following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
result=pattern.sub('',text)
print(result)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.