In [46]:
import pandas as pd
import selenium 
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [47]:
driver=webdriver.Edge()

1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [7]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [15]:
Name=[]
Artist=[]
Date=[]
View=[]

In [16]:
name=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]//tr/td[1]')
for i in name:
    Name.append(i.text)

In [17]:
artist=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]//tr/td[2]')
for i in artist:
    Artist.append(i.text)

In [18]:
view=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]//tr/td[3]')
for i in view:
    View.append(i.text)

In [19]:
date=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]//tr/td[4]')
for i in date:
    Date.append(i.text)

In [20]:
YT=pd.DataFrame({'Name':Name,'Artist':Artist,'View':View,'Date':Date})
YT

,Name,Artist,View,Date
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,15.09,"June 17, 2016"
1,"""Despacito""[10]",Luis Fonsi,8.54,"January 12, 2017"
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.95,"October 8, 2016"
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.85,"May 2, 2018"
4,"""Wheels on the Bus""[20]",Cocomelon - Nursery Rhymes,6.56,"May 24, 2018"
5,"""See You Again""[21]",Wiz Khalifa,6.40,"April 6, 2015"
6,"""Shape of You""[26]",Ed Sheeran,6.33,"January 30, 2017"
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,6.00,"March 6, 2014"
8,"""Uptown Funk""[30]",Mark Ronson,5.33,"November 19, 2014"
9,"""Gangnam Style""[31]",Psy,5.29,"July 15, 2012"
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.15,"February 27, 2018"
11,"""Dame Tu Cosita""[37]",Ultra Records,4.74,"April 5, 2018"
12,"""Axel F""[38]",Crazy Frog,4.69,"June 16, 2009"
13,"""Masha and the Bear – Recipe for Disaster""[39]",Get Movies,4.60,"January 31, 2012"
14,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,4.17,"June 25, 2018"
15,"""Lakdi Ki Kathi""[41]",Jingle Toons,4.13,"June 14, 2018"
16,"""Sugar""[42]",Maroon 5,4.09,"January 14, 2015"
17,"""Counting Stars""[43]",OneRepublic,4.05,"May 31, 2013"
18,"""Roar""[44]",Katy Perry,4.03,"September 5, 2013"
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,4.01,"June 4, 2010"
20,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,3.97,"May 10, 2011"
21,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.89,"January 26, 2018"
22,"""Sorry""[48]",Justin Bieber,3.84,"October 22, 2015"
23,"""Thinking Out Loud""[49]",Ed Sheeran,3.79,"October 7, 2014"
24,"""Perfect""[50]",Ed Sheeran,3.78,"November 9, 2017"
25,"""Dark Horse""[51]",Katy Perry,3.77,"February 20, 2014"
26,"""Let Her Go""[52]",Passenger,3.70,"July 25, 2012"
27,"""Faded""[53]",Alan Walker,3.67,"December 3, 2015"
28,"""Girls Like You""[54]",Maroon 5,3.65,"May 31, 2018"
29,"""Lean On""[55]",Major Lazer Official,3.65,"March 22, 2015"

2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time

In [21]:
driver.get('http://www.bcci.tv/')

In [22]:
Int=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
Int.click()

In [23]:
Nxt=driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[2]/div/button')
Nxt.click()

In [24]:
Series=[]
Place=[]
Date=[]
Time=[]

In [25]:
sr=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in sr:
    Series.append(i.text)
pl=driver.find_elements(By.XPATH,'//div[@class="match-venue ng-scope"]')
for i in pl:
    Place.append(i.text)
dt=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in dt:
    Date.append(i.text)
tm=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in tm:
    Time.append(i.text)

In [27]:
BCCI=pd.DataFrame({'Series':Series,'Date':Date,'Place':Place,'Time':Time})
BCCI

,Series,Date,Place,Time
0,Bangladesh Tour of India Test Series 2024,27 Sep,"Green Park, Kanpur",9:30 IST
1,ICC Womens T20 World Cup Warm Up Matches 2024,29 Sep,"ICC Academy Ground No 2, Dubai",19:30 IST
2,Australia U19 Tour of India Multiday Series,30 Sep,"M A Chidambaram Stadium, Chennai",9:30 IST
3,ICC Womens T20 World Cup Warm Up Matches 2024,1 Oct,"ICC Academy Ground, Dubai",19:30 IST
4,ICC Womens T20 World Cup 2024,4 Oct,"Dubai International Cricket Stadium, Dubai",19:30 IST
5,Bangladesh Tour of India T20 Series 2024,6 Oct,"Shrimant Madhavrao Scindia Cricket Stadium, Gw...",19:00 IST
6,ICC Womens T20 World Cup 2024,6 Oct,"Dubai International Cricket Stadium, Dubai",15:30 IST
7,Australia U19 Tour of India Multiday Series,7 Oct,"M A Chidambaram Stadium, Chennai",9:30 IST
8,Bangladesh Tour of India T20 Series 2024,9 Oct,"Arun Jaitley Stadium, Delhi",19:00 IST
9,ICC Womens T20 World Cup 2024,9 Oct,"Dubai International Cricket Stadium, Dubai",19:30 IST
10,Bangladesh Tour of India T20 Series 2024,12 Oct,"Rajiv Gandhi International Stadium, Hyderabad",19:00 IST
11,ICC Womens T20 World Cup 2024,13 Oct,"Sharjah Cricket Stadium, Sharjah",19:30 IST
12,New Zealand Tour of India Test Series 2024,16 Oct,"M Chinnaswamy Stadium, Bengaluru",9:30 IST
13,New Zealand Tour of India Test Series 2024,24 Oct,"Maharashtra Cricket Association Stadium, Pune",9:30 IST
14,New Zealand Tour of India Test Series 2024,1 Nov,"Wankhede Stadium, Mumbai",9:30 IST

3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion)

In [5]:
driver.get('http://statisticstimes.com/')

In [3]:
from selenium.webdriver.common.action_chains import ActionChains

In [4]:
Ac=ActionChains(driver)

In [ ]:
eco=WebDriverWait(driver,5).until(EC.presence_of_element_located((By.XPATH,'//div[@class="dropdown"][2]')))
Ac.move_to_element(eco).perform()
Eco=WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')))
Eco.click()

In [15]:
gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp.click()

In [20]:
Rank=[]
State=[]
GSDP18=[]
GSDP19=[]
Share=[]
GDP=[]

In [21]:
state=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"][1]//tr/td[2]')
for i in state[0:33]:
    State.append(i.text)
rank=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"][1]//tr/td[1]')
for i in rank[0:33]:
    Rank.append(i.text)
g18=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"][1]//tr/td[5]')
for i in g18[0:33]:
    GSDP18.append(i.text)
g19=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"][1]//tr/td[4]')
for i in g19[0:33]:
    GSDP19.append(i.text)
share=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"][1]//tr/td[6]')
for i in share[0:33]:
    Share.append(i.text)
gdp=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"][1]//tr/td[7]')
for i in gdp[0:33]:
    GDP.append(i.text)

In [22]:
S_GDP=pd.DataFrame({'State':State,'Rank':Rank,'GDP':GDP,'GSDP_18':GSDP18,'GSDP_19':GSDP19,'Share %':Share})

4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

In [93]:
driver.get('https://github.com/')

We are using ActionChains as we already used in above question.

In [94]:
op=WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,'//li[@class="HeaderMenu-item position-relative flex-wrap flex-justify-between flex-items-center d-block d-lg-flex flex-lg-nowrap flex-lg-items-center js-details-container js-header-menu-item"][4]')))
Ac.move_to_element(op).perform()
trn=WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[4]/div/div[3]/ul/li[2]/a')))
trn.click()

In [95]:
GitHub=[]
links=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]//a')
lnk=[link.get_attribute('href') for link in links]
for i in lnk:
    try:
        driver.get(i)
        WebDriverWait(driver,10).until(EC.presence_of_element_located((By.XPATH,'//p[@class="f4 my-3"]')))
        try:
            Desc=driver.find_element(By.XPATH,'//p[@class="f4 my-3"]').text
        except:
            Desc='-'
        try:
            Title=driver.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]').text
        except:
            Title='-'
        try:
            Count=driver.find_element(By.XPATH,'//span[@class="Counter ml-1"]').text
        except:
            Count='-'
        try:
            Lang=driver.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]').text
        except:
            Lang='-'
        GitHub.append({'Title':Title,'Description':Desc,'Contributours Count':Count,'Language':Lang})   
    except Exception as e:
        print(f'Error happen{e}')
    driver.back()
    time.sleep(3)

In [91]:
Git=pd.DataFrame(GitHub)

5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board 
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [9]:
driver.get('https:/www.billboard.com/')

In [10]:
hot=driver.find_element(By.XPATH,'//li[@class="o-nav__list-item "][1]')
hot.click()

In [11]:
S_name=[]
A_name=[
L_rank=[]
P_rank=[]
W_board=[]

In [12]:
name=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//h3')
for i in name:
    S_name.append(i.text)
art=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]//span')
for i in art:
    A_name.append(i.text)
lr=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]')
for i in lr:
    L_rank.append(i.text)
pr=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]')
for i in pr:
    P_rank.append(i.text)
wb=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]')
for i in wb:
    W_board.append(i.text)

In [13]:
Top100=pd.DataFrame({'SONG_NAME':S_name,'ARTIST_NAME':A_name,'LAST_RANK':L_rank,'PEAK_RANK':P_rank,'WEEK_BOARD':W_board})

In [14]:
Top100

,SONG_NAME,ARTIST_NAME,LAST_RANK,PEAK_RANK,WEEK_BOARD
0,A Bar Song (Tipsy),Shaboozey,1,1,23
1,I Had Some Help,Post Malone Featuring Morgan Wallen,2,1,19
2,Espresso,Sabrina Carpenter,3,3,23
3,"Good Luck, Babe!",Chappell Roan,7,4,24
4,Die With A Smile,Lady Gaga & Bruno Mars,4,3,5
...,...,...,...,...,...
95,U My Everything,Sexyy Red & Drake,89,44,17
96,My Kink Is Karma,Chappell Roan,-,81,5
97,Nasty,Tinashe,94,61,16
98,Parking Lot,Mustard & Travis Scott,99,57,8
99,Worst Way,Riley Green,-,100,1

6. Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [15]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [16]:
B_name=[]
Author=[]
V_sold=[]
Publisher=[]
Genre=[]

In [17]:
bn=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[2]')
for i in bn:
    B_name.append(i.text)
author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[3]')
for i in author:
    Author.append(i.text)
sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[4]')
for i in sold:
    V_sold.append(i.text)
pub=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[5]')
for i in pub:
    Publisher.append(i.text)
gen=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//tr//td[6]')
for i in gen:
    Genre.append(i.text)

In [18]:
BOOKS=pd.DataFrame({'BOOK_NAME':B_name,'AUTHOR_NAME':Author,'VOLUME_SOLD':V_sold,'PUBLISHER':Publisher,'GENRE':Genre})

In [19]:
BOOKS

,BOOK_NAME,AUTHOR_NAME,VOLUME_SOLD,PUBLISHER,GENRE
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [39]:
driver.get('https://www.imdb.com/chart/tvmeter/?ref_=nv_tvv_mptv')

In [38]:
Tvshow=[]

In [40]:
top=driver.find_elements(By.XPATH,'//div[@class="ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-b189961a-9 bnSrml cli-title"]//a')
t_p=[i.get_attribute('href') for i in top]
for i in t_p:
    driver.get(i)
    WebDriverWait(driver,15).until(EC.presence_of_element_located((By.XPATH,'//span[@class="hero__primary-text"]')))
    try:
        name=driver.find_element(By.XPATH,'//span[@class="hero__primary-text"]').text
    except:
        name='-'
    try:
        yr=driver.find_element(By.XPATH,'//ul[@class="ipc-inline-list ipc-inline-list--show-dividers sc-ec65ba05-2 joVhBE baseAlt"]//li[2]').text
    except:
        yr='-'
    try:
        gnr=driver.find_element(By.XPATH,'//div[@class="ipc-chip-list__scroller"]').text
    except:
        gnr='-'
    try:
        run=driver.find_element(By.XPATH,'//ul[@class="ipc-inline-list ipc-inline-list--show-dividers sc-ec65ba05-2 joVhBE baseAlt"]//li[4]').text
    except:
        run='-'
    try:
        rate=driver.find_element(By.XPATH,'//span[@class="sc-c4ffe080-1 iQZtLP"]').text
    except:
        rate='-'
    try:
        vote=driver.find_element(By.XPATH,'//div[@class="sc-c4ffe080-3 hNEDIO"]').text
    except:
        vote='-'
    TV={'NAME':name,'GENRE':gnr,'YEAR':yr,'RUN_TIME':run,'RATING':rate,'VOTE':vote}
    Tvshow.append(TV)
    driver.back()
    time.sleep(3)

In [44]:
TVSHOW=pd.DataFrame(Tvshow)
TVSHOW

,NAME,GENRE,YEAR,RUN_TIME,RATING,VOTE
0,Monsters,Docudrama\nSerial Killer\nTrue Crime\nBiograph...,2022–,1h,7.9,170K
1,The Penguin,Crime\nDrama\nFantasy,2024,-,8.8,18K
2,The Lord of the Rings: The Rings of Power,Adventure Epic\nFantasy Epic\nSword & Sorcery\...,2022–,1h,6.9,387K
3,Agatha All Along,Dark Fantasy\nSupernatural Fantasy\nAction\nAd...,2024–,-,6.8,15K
4,The Perfect Couple,Whodunnit\nCrime\nDrama\nMystery,2024,1h,6.5,37K
...,...,...,...,...,...,...
95,Doctor Who,Sci-Fi Epic\nSpace Sci-Fi\nTime Travel\nAdvent...,2005–2022,45m,8.5,252K
96,English Teacher,Comedy,2024–,-,7.1,2.6K
97,Reacher,One-Person Army Action\nAction\nCrime\nDrama\n...,2022–,50m,8.0,225K
98,Mad Men,Epic\nPeriod Drama\nWorkplace Drama\nDrama,2007–2015,45m,8.7,266K
99,Severance,Dystopian Sci-Fi\nPsychological Drama\nPsychol...,2022–,50m,8.7,222K

8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
 Note: - from the home page you have to go to the Show All Dataset page through code

In [48]:
driver.get('https://archive.ics.uci.edu/')

In [49]:
dt=driver.find_element(By.XPATH,'//ul[@class="menu menu-horizontal gap-2 text-[18px]"]/li[1]')
dt.click()

In [52]:
ex=driver.find_element(By.XPATH,'//label[@class="btn btn-primary btn-sm flex gap-2 rounded-full"]/span[1]')
ex.click()

In [54]:
D_name=[]
D_type=[]
Task=[]
A_type=[]
N_In=[]
N_atr=[]
Year=[]

In [56]:
na=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
for i in na:
    D_name.append(i.text)
tp=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][2]//span')
for i in tp:
    D_type.append(i.text)
tk=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][1]//span')
for i in tk:
    Task.append(i.text)
atr=driver.find_elements(By.XPATH,'//table[@class="table col-span-full my-2 sm:col-start-2"]//tbody/tr/td[2]')
for i in atr:
    A_type.append(i.text)
ni=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][3]//span')
for i in ni:
    N_In.append(i.text)
na=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][4]//span')
for i in na:
    N_atr.append(i.text)
yr=driver.find_elements(By.XPATH,'//table[@class="table col-span-full my-2 sm:col-start-2"]//tbody/tr/td[3]')
for i in yr:
    Year.append(i.text)

In [59]:
DataSet=pd.DataFrame({'NAME':D_name,'DATA_TYPE':D_type,'TASK':Task,'No of instance':N_In,'Attribute Type':A_type,'No of attributes':N_atr,'Year':Year})